<app-navbar
  class="mat-elevation-z6 z-50"
  [showBurgerMenu]="!(alwaysShowSideNav$ | async)"
  (burgerMenuClicked)="sidenav.toggle()"
>
  <app-search-box
    class="max-w-[250px] flex-grow"
    #searchBox
    (onSearch)="doSearch($event)"
    (onSearchFocus)="doSearch($event, true)"
  />
</app-navbar>

<mat-sidenav-container class="flex-grow">
  <mat-sidenav
    #sidenav
    class="z-10 w-60"
    [opened]="alwaysShowSideNav$ | async"
    [mode]="(alwaysShowSideNav$ | async) ? 'side' : 'over'"
  >
    <app-sidenav (itemClick)="sidenav.toggle(sidenav.mode === 'side')" />
  </mat-sidenav>

  <mat-sidenav-content #scrollContainer>
    <main class="p-6">
      <app-search-result
        *ngIf="showSearchResults; else content"
        #searchResultsView
        [searchResults]="searchResults$ | async"
        (resultSelected)="hideSearchResults()"
        (closeButtonClick)="hideSearchResults()"
      />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #content>
  <router-outlet />
</ng-template>
