<app-navbar
  class="mat-elevation-z6 z-50"
  [showBurgerMenu]="showNavigationItems"
  (burgerMenuClicked)="sidenavOpened = !sidenavOpened"
>
  @if (showNavigationItems) {
    <app-search-box
      class="max-w-[250px] flex-grow"
      #searchBox
      (onSearch)="doSearch($event)"
      (onSearchFocus)="doSearch($event, true)"
    />
  }
</app-navbar>

<div class="mat-app-background relative flex-grow overflow-hidden">
  @if (showNavigationItems) {
    <div
      class="absolute z-50 h-full w-60 -translate-x-60 overflow-auto border-r border-r-gray-700 bg-gray-800 shadow max-md:duration-300 md:translate-x-0 md:shadow-none"
      [class.translate-x-0]="sidenavOpened"
    >
      @defer {
        <app-sidenav (itemClick)="sidenavOpened = false" />
      }
    </div>
  }
  <main class="h-full overflow-auto" [class.md:ml-60]="showNavigationItems" #scrollContainer>
    <div class="p-6">
      @if (showSearchResults) {
        @defer {
          <app-search-result
            #searchResultsView
            [searchResults]="searchResults$ | async"
            (resultSelected)="hideSearchResults()"
            (closeButtonClick)="hideSearchResults()"
          />
        }
      } @else {
        <ng-content />
      }
    </div>
  </main>
  <div
    class="invisible absolute inset-0 z-40 duration-300"
    [class]="{ '!visible': sidenavOpened, 'bg-gray-400/60': sidenavOpened }"
    (click)="sidenavOpened = false"
  ></div>
</div>
