<div class="flex flex-col gap-6">
  <app-hero-header [heroData]="albumHeroData$ | async">
    <p *ngIf="(album$ | async) as album">
      <app-artist-link [artist]="album.artists"/>
      -
      {{album | releaseDate}} -
      {{album.tracks.total | number}} Tracks
    </p>
  </app-hero-header>

  <table mat-table [dataSource]="(albumTracks$ | async)?.items ?? []">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="artist">
      <th mat-header-cell *matHeaderCellDef>Artists</th>
      <td mat-cell *matCellDef="let element">
        <app-artist-link [artist]="element.artists"/>
      </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Duration</th>
      <td mat-cell *matCellDef="let element">{{element.duration_ms | trackDuration}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
