<ng-container *ngIf="item else loadingSkeleton">
  <a [routerLink]="item.link" class="group focus-visible:outline-none">
    <mat-card class="w-44 group-hover:bg-white/[0.15] group-focus-visible:bg-white/[0.25]" mat-ripple>
      <!-- add p-4 to restore card padding, because matRipple causes removal of padding on click -->
      <mat-card-content class="p-4 space-y-2">
        <img [src]="item.imageUrl" class="w-36 h-36 object-cover bg-gray-700" alt="image" aria-hidden="true"/>
        <p class="text-base truncate">{{item.title}}</p>
        <p class="h-10 line-clamp-2" *ngIf="item.subtitle">{{item.subtitle}}</p>
      </mat-card-content>
    </mat-card>
  </a>
</ng-container>
<ng-template #loadingSkeleton>
  <mat-card class="w-44">
    <mat-card-content class="p-4 space-y-2">
      <div class="w-36 h-36 skeleton-wave"></div>
      <p class="text-base rounded w-2/3 skeleton-wave">&nbsp;</p>
    </mat-card-content>
  </mat-card>
</ng-template>
