<div #container class="flex gap-6 justify-between"
     [ngClass]="{'overflow-x-auto': overflow === 'scroll', 'flex-wrap': overflow === 'wrap'}">
  <ng-container *ngIf="items else loadingSkeleton">
    <app-clickable-card
      *ngFor="let item of (overflow === 'truncate' ? items.slice(0, maxItemsForOneLine) : items)"
      [item]="item"
      (itemClick)="itemClick.emit($event)"
    />
  </ng-container>
  <ng-template #loadingSkeleton>
    <app-clickable-card [item]="null"></app-clickable-card>
    <app-clickable-card [item]="null"></app-clickable-card>
    <app-clickable-card [item]="null"></app-clickable-card>
  </ng-template>
</div>
