<div class="hero-header-card card">
  <ng-container *ngIf="heroData; else loadingSkeleton">
    <img
      class="hero-header-image"
      [ngSrc]="headerImage"
      width="192"
      height="192"
      priority
      alt="icon"
      aria-hidden="true"
    />

    <div class="info-container">
      <p class="info-container-type">{{ heroData.type }}</p>

      <h1 class="info-container-title">{{ heroData.title }}</h1>

      <div class="info-container-content mt-auto">
        <ng-content />
      </div>
    </div>
  </ng-container>
</div>

<ng-template #loadingSkeleton>
  <div class="hero-header-image skeleton-wave"></div>
  <div class="info-container">
    <p class="info-container-type skeleton-wave w-1/3 rounded">&nbsp;</p>
    <h1 class="info-container-title skeleton-wave w-2/3 rounded">&nbsp;</h1>
  </div>
</ng-template>
