<header *ngIf="{ breakpoint: currentBreakpoint$ | async } as ctx">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button *ngIf="showBurgerMenu" (click)="burgerMenuClicked.emit($event)">
        <mat-icon>menu</mat-icon>
      </button>
      <a mat-button href="/">
        <img matButtonIcon src="../../../assets/img/icon_angular_wht.svg" aria-hidden="true" />
        <img
          matButtonIcon
          src="../../../assets/img/Spotify_Icon_RGB_White.png"
          aria-hidden="true"
        />
        Angular Music
      </a>
      <ng-container *ngIf="(ctx.breakpoint ?? Breakpoint.SM) >= Breakpoint.SM">
        <ng-container *ngTemplateOutlet="customContent" />
      </ng-container>
      <span class="flex-grow"></span>
      <a mat-button href="https://github.com/sonallux/angular-music">
        <img
          matButtonIcon
          src="../../../assets/img/github-circle-white-transparent.svg"
          alt="github"
        />
        GitHub
      </a>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="(ctx.breakpoint ?? Breakpoint.SM) < Breakpoint.SM">
      <ng-container *ngTemplateOutlet="customContent" />
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<ng-template #customContent>
  <ng-content />
</ng-template>
