<header class="flex h-16 w-full items-center bg-spotify-green-500 px-4 text-white">
  <button
    mat-icon-button
    *ngIf="showBurgerMenu"
    class="md:!hidden"
    (click)="burgerMenuClicked.emit($event)"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-button href="/">
    <img
      matButtonIcon
      ngSrc="../../../assets/img/icon_angular_wht.svg"
      width="26"
      height="26"
      aria-hidden="true"
    />
    <img
      matButtonIcon
      ngSrc="../../../assets/img/Spotify_Icon_RGB_White.png"
      width="26"
      height="26"
      aria-hidden="true"
    />
    <span class="max-sm:hidden">Angular Music</span>
  </a>
  <ng-content />
  <span class="flex-grow"></span>
  <a mat-button href="https://github.com/sonallux/angular-music">
    <img
      matButtonIcon
      ngSrc="../../../assets/img/github-circle-white-transparent.svg"
      width="26"
      height="26"
      alt="github"
    />
    <span class="max-sm:hidden">GitHub</span>
  </a>
</header>
