<div class="flex flex-col gap-6">
  <ng-container *ngIf="artistHeroData$ | async as artist">
    <app-hero-header [heroData]="artist.state === 'SUCCESS' ? artist.data : null">
      <p class="mt-auto" *ngIf="artist.state === 'SUCCESS'">
        {{artist.data.followers.total | number}} Followers -
        {{artist.data.genres.join(', ')}}
      </p>
    </app-hero-header>
  </ng-container>

  <div class="space-y-2" *ngIf="topTracks$ | async as topTracks" >
    <h2>Popular</h2>

    <table mat-table *ngIf="topTracks.state === 'SUCCESS'" [dataSource]="topTracks.data">
      <ng-container matColumnDef="name">
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="artist">
        <td mat-cell *matCellDef="let element">
          <app-artist-link [artist]="element.artists"/>
        </td>
      </ng-container>

      <ng-container matColumnDef="album">
        <td mat-cell *matCellDef="let element">
          <app-album-link [album]="element.album"/>
        </td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <!-- TODO format duration -->
        <td mat-cell *matCellDef="let element">{{element.duration_ms / 1000}}s</td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div *ngIf="topTracks.state === 'LOADING'" class="flex flex-col h-[260px] justify-around">
      <div class="w-full skeleton-wave h-8"></div>
      <div class="w-full skeleton-wave h-8"></div>
      <div class="w-full skeleton-wave h-8"></div>
      <div class="w-full skeleton-wave h-8"></div>
      <div class="w-full skeleton-wave h-8"></div>
    </div>

    <button mat-button (click)="toggleShowAllTopTracks()" [disabled]="topTracks.state !== 'SUCCESS'">
      {{(showAllTopTracks$ | async) ? 'Show less' : 'See more'}}
    </button>

  </div>

  <ng-container *ngIf="albums$ | async as albums">
    <app-card-list [cardItems]="albums.state === 'SUCCESS' ? albums.data : null" oneRow>
      <h2 title>Discography</h2>
    </app-card-list>
  </ng-container>

  <ng-container *ngIf="relatedArtists$ | async as relatedArtists">
    <app-card-list [cardItems]="relatedArtists.state === 'SUCCESS' ? relatedArtists.data : null" oneRow>
      <h2 title>Fans also like</h2>
    </app-card-list>
  </ng-container>

</div>
