<ng-container *ngIf="(artist$ | async) as artist">
  <app-hero-header [heroData]="artistHeroData$ | async">
    <p class="mt-auto">
      {{artist.followers.total | number}} Followers -
      {{artist.genres.join(', ')}}
    </p>
  </app-hero-header>

  <table mat-table [dataSource]="(topTracks$ | async) ?? []">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="artist">
      <th mat-header-cell *matHeaderCellDef>Artists</th>
      <td mat-cell *matCellDef="let element">
        <app-artist-link [artist]="element.artists"/>
      </td>
    </ng-container>

    <ng-container matColumnDef="album">
      <th mat-header-cell *matHeaderCellDef>Album</th>
      <td mat-cell *matCellDef="let element"><app-album-link [album]="element.album" /></td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Duration</th>
      <td mat-cell *matCellDef="let element">{{element.duration_ms / 1000}}s</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ng-container>
