@use "sass:map";
@use "@angular/material" as mat;
@import "./theme.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

// Setup theming for @angular/material
@include mat.core();

// Include all theme styles for the components.
@include mat.all-component-themes($angular-music-theme);
@include mat.typography-hierarchy($angular-music-theme);

@layer base {
  html,
  body {
    @apply h-screen;
    color-scheme: dark;
  }

  body {
    @apply m-0 text-sm font-normal;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  h1 {
    @apply mb-4 text-4xl;
  }

  h2 {
    @apply mb-4 text-2xl;
  }

  h3 {
    @apply mb-2 text-lg;
  }
}

@layer components {
  .card {
    @apply flex flex-col rounded bg-gray-800 shadow;
  }
}

.mat-mdc-button-base {
  img {
    height: 26px;
    margin-right: 6px;
  }
}

.skeleton-wave {
  $accent-palette: map.get(mat.m2-get-color-config($angular-music-theme), accent);

  @apply relative overflow-hidden;
  background-color: mat.m2-get-color-from-palette($accent-palette, 700);

  &:after {
    @apply absolute inset-0 content-[''];
    background-image: linear-gradient(
      90deg,
      transparent,
      mat.m2-get-color-from-palette($accent-palette, 600),
      transparent
    );
    animation: skeleton-wave-keyframes 1.75s linear infinite;
    @keyframes skeleton-wave-keyframes {
      0% {
        transform: translateX(-100%);
      }
      to {
        transform: translateX(100%);
      }
    }
  }
}

// tables should be rounded as cards. The following styles are copied from `mat-mdc-card`
.mat-mdc-table {
  border-radius: var(--mdc-elevated-card-container-shape);
  background-color: var(--mdc-elevated-card-container-color);
  border-width: 0;
  border-style: solid;
  border-color: var(--mdc-elevated-card-container-color);
  box-shadow: var(--mdc-elevated-card-container-elevation);
  overflow: hidden;
}
