@use 'sass:map';
@use '@angular/material' as mat;
@import './theme.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

// Setup theming for @angular/material
@include mat.core();

// Include all theme styles for the components.
@include mat.all-component-themes($angular-spotify-theme);
@include mat.typography-hierarchy($angular-spotify-theme);

@layer base {
  html, body {
    @apply h-screen;
  }

  body {
    @apply m-0 text-sm font-normal;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  h1 {
    @apply text-4xl mb-4;
  }
  h2 {
    @apply text-2xl mb-4;
  }
}

.mat-mdc-button-base {
  img {
    height: 26px;
    margin-right: 6px;
  }
}

.skeleton-wave {
  $accent-palette: map.get(mat.get-color-config($angular-spotify-theme), accent);

  @apply relative overflow-hidden;
  background-color: mat.get-color-from-palette($accent-palette, 700);

  &:after {
    @apply content-[''] absolute inset-0;
    background-image: linear-gradient(90deg, transparent, mat.get-color-from-palette($accent-palette, 600), transparent);
    animation: skeleton-wave-keyframes 1.75s linear infinite;
    @keyframes skeleton-wave-keyframes {
      0% { transform: translateX(-100%) }
      to { transform: translateX(100%) }
    }
  }
}


