<input
  #searchBox
  type="search"
  placeholder="Search"
  class="w-full rounded-full bg-white px-4 text-gray-800 placeholder:text-gray-600 focus:outline-none search-cancel-button:hidden"
  (input)="doSearch()"
  (keyup)="doSearch()"
  (focus)="doFocus()"
  (click)="doSearch()"
/>
<button
  mat-icon-button
  (click)="searchBox.value = ''; doSearch()"
  [class.invisible]="searchBox.value === ''"
  class="right-11 !text-gray-800"
  aria-label="Clear search"
>
  <mat-icon>close</mat-icon>
</button>
