<mat-nav-list>
  <a mat-list-item routerLink="home" routerLinkActive="mdc-list-item--activated" (click)="itemClick.emit($event)">
    <mat-icon matListItemIcon>home</mat-icon>
    <span matListItemTitle>Home</span>
  </a>
  <a mat-list-item routerLink="browse" routerLinkActive="mdc-list-item--activated" (click)="itemClick.emit($event)">
    <mat-icon matListItemIcon>explore</mat-icon>
    <span matListItemTitle>Browse</span>
  </a>
  <a mat-list-item disabled>
    <mat-icon matListItemIcon>recommend</mat-icon>
    <span matListItemTitle>Recommendations</span>
  </a>
  <a mat-list-item href="https://open.spotify.com" target="_blank" (click)="itemClick.emit($event)">
    <img matListItemIcon src="../../../assets/img/Spotify_Icon_RGB_White.png" alt="spotify" aria-hidden="true">
    <span matListItemTitle>Open Spotify</span>
  </a>
  <mat-divider></mat-divider>
  <div mat-subheader>Library</div>
  <a mat-list-item disabled>
    <mat-icon matListItemIcon>person</mat-icon>
    <span matListItemTitle>Artists</span>
  </a>
  <a mat-list-item disabled>
    <mat-icon matListItemIcon>album</mat-icon>
    <span matListItemTitle>Albums</span>
  </a>
  <a mat-list-item disabled>
    <mat-icon matListItemIcon>music_note</mat-icon>
    <span matListItemTitle>Tracks</span>
  </a>
  <a mat-list-item disabled>
    <mat-icon matListItemIcon>library_music</mat-icon>
    <span matListItemTitle>Playlists</span>
  </a>
  <a mat-list-item disabled>
    <mat-icon matListItemIcon>podcasts</mat-icon>
    <span matListItemTitle>Podcasts & Shows</span>
  </a>
  <a mat-list-item disabled>
    <mat-icon matListItemIcon>headphones</mat-icon>
    <span matListItemTitle>Audiobooks</span>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="logout" (click)="itemClick.emit($event)">
    <mat-icon matListItemIcon>logout</mat-icon>
    <span matListItemTitle>Logout</span>
  </a>
</mat-nav-list>
