<nav>
  <mat-nav-list>
    <a mat-list-item>
      <mat-icon matListItemIcon>home</mat-icon>
      Home
    </a>
    <a mat-list-item>
      <mat-icon matListItemIcon>explore</mat-icon>
      Browse
    </a>
    <a mat-list-item>
      <mat-icon matListItemIcon>recommend</mat-icon>
      Recommendations
    </a>
    <a mat-list-item href="https://open.spotify.com">
      <img matListItemIcon src="../../../assets/img/Spotify_Icon_RGB_White.png" alt="spotify" aria-hidden="true">
      Open Spotify
    </a>
    <mat-divider></mat-divider>
    <div mat-subheader>Library</div>
    <a mat-list-item>
      <mat-icon matListItemIcon>person</mat-icon>
      Artists
    </a>
    <a mat-list-item>
      <mat-icon matListItemIcon>album</mat-icon>
      Albums
    </a>
    <a mat-list-item>
      <mat-icon matListItemIcon>music_note</mat-icon>
      Tracks
    </a>
    <a mat-list-item>
      <mat-icon matListItemIcon>library_music</mat-icon>
      Playlists
    </a>
    <a mat-list-item>
      <mat-icon matListItemIcon>podcasts</mat-icon>
      Podcasts & Shows
    </a>
    <a mat-list-item>
      <mat-icon matListItemIcon>headphones</mat-icon>
      Audiobooks
    </a>
  </mat-nav-list>
</nav>
